/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  background-color: grey;
}
/* header */
.container{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: red;
  padding: 10px;
}
.search-bar{
  padding: 10px;
}
.search{
  width: 250px;
  padding: 8px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
}
.search:focus{
  outline: none;
}
.search-btn{
  padding: 8px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
}
.search-btn:focus{
  outline: none;
}
/* main */
.films-container,
.series-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;
}
.film,
.show{
  height: 300px;
  width: 200px;
  background-color: #000;
  border: 1px solid #fff;
  margin: 20px 20px;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.poster{
  max-width: 100%;
  transition: 1s all;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.description{
  width: 100%;
  padding: 10px;
  opacity: 0;
  transition: 1s all;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
  color: #fff;
}
.overview{
  margin-top: 10px;
}
.film:hover .poster,
.show:hover .poster{
  opacity: 0.3;
  cursor: pointer;
}
.film:hover .description,
.show:hover .description{
  left: 0;
  opacity: 1;
}
.original-title {
  margin-top: 10px;
}
.vote{
  margin-top: 10px;
}
.vote-star{
  color: yellow;
  margin-right: 5px;
}
