<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /vuejs -->
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- /axios -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
  </head>
  <body>
    <div id="app">
      <!-- intestazione pagina -->
      <header>
        <div class="container">
          <div class="logo">
            <img src="https://fontmeme.com/permalink/210409/4937b74c6317b36c509baa13669b4b20.png" alt="Boolflix logo">
          </div>
          <div class="search-bar">
            <input type="text" placeholder="Inserisci titolo" v-model="filmTitle" @keydown.13="searchFilm">
            <button @click="searchFilm">Ricerca</button>
          </div>
        </div>
      </header>
      <!-- /intestazione pagina -->
      <!-- corpo pagina -->
      <main>
        <!-- sezione visualizzazione film -->
        <div class="films-container">
          <div class="film" v-for="film in films">
            <img :src=" 'https://image.tmdb.org/t/p/w300' + film.poster_path" alt="" class="film-img">
            <div class="description">
              <h3>Titolo:</h3><span>{{film.title}}</span>
              <h3 class="original-title">Titolo Originale:</h3><span>{{film.original_title}}</span>
              <h3 class="overview">Overview:</h3><span>{{film.overview}}</span>
            </div>
          </div>
        </div>
        <!-- sezione visualizzazione film -->
      </main>
      <!-- /corpo pagina -->
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
